<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--此文件无用，只做参考-->
        <!-- =============== 数据库连接设置 =================== -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/design?useOldAliasMetadataBehavior=true</property>
        <property name="connection.username">stpan</property>
        <property name="connection.password">123456</property>
        <property name="connection.useSSL">false</property>
        <!-- =============== 配置使用c3p0数据库连接池 =================== -->
        <property name="connection.pool_size">1</property>
        <!--<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>-->
        <property name="connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
        <property name="c3p0.min_size">5</property>
        <property name="c3p0.max_size">20</property>
        <property name="c3p0.timeout">120</property>
        <property name="c3p0.idle_test_period">3000</property>


        <!-- =============== 数据库方言设置 =================== -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!-- 根据需要自动创建数据表 -->
        <property name="hbm2ddl.auto">update</property>
        <!-- 显示Hibernate持久化操作所生成的SQL -->
        <property name="show_sql">true</property>
        <!-- 将SQL脚本进行格式化后再输出 -->
        <property name="hibernate.format_sql">true</property>
        <!-- 避免这个错误信息Disabling contextual LOB creation as createClob() method threw error :java.lang.reflect.InvocationTargetException -->
        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>

        <!-- =============== 实体关系列表 =================== -->
        <mapping class="cn.stpan.design.entity.Card"/>
        <mapping class="cn.stpan.design.entity.CardHistory"/>
        <mapping class="cn.stpan.design.entity.CardPart"/>

    </session-factory>

</hibernate-configuration>
